Screen {
    align: center middle;
}

#dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: auto;
    padding: 0 1;
    width: 60;
    height: auto;
    border: thick $primary-lighten-2;
    background: $surface;
}

#title {
    column-span: 2;
    text-align: center;
    width: 100%;
    color: $text;
}

#subtitle {
    column-span: 2;
    text-align: center;
    width: 100%;
    color: $text-muted;
}

Button {
    width: 100%;
}
